body {
    background-color: rgb(217, 208, 220);
  }
  p {
   color:DarkBlue;
   padding-left: 10px;
  }
  h1 {
  color:Brown;
  font-size: 300%; 
  }
  .A {
  text-align: center;
  color: yellow
  }
  .center {
    text-align: center;
    color: red;
  }
  div {
    border-style: dotted dashed solid double;
    border-color: rgb(0, 30, 255);
    padding-top: 20px;
    padding-bottom: 20pt;
    margin: 20px;
  }