    body {
    background-color:lightblue;
    color:red;
    border: 2px solid blue;
    padding:12px;
    font-family: arial;
    }
    div {border: 1px dotted orange;
    margin: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;}
    h1 {
    color:blue;
    text-align:center;
    font-size:250%;
    }
    .A {text-align:center}
    .B {color:orange}
    .C {font-size:250%}
    abc {color:blue}